@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('./fonts.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Days One', sans-serif;
}
body {
    overflow: hidden;
}
:root {
    --DejaVuSans: 'DejaVuSans', cursive;
    --DejaVuSans-Bold: 'DejaVuSans-Bold', cursive;
}
.container {
    max-width: 1130px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}


/* Header */
header {
    position: absolute;
    left: 0;
    right: 0;
    /* background-color: red; */
    padding: 0px 15px;
}
header .row {
    justify-content: space-between;
    align-items: center;
}
header .brandName a {
    text-decoration: none;
    font-size: 1.7rem;
    color: #ffffff;
    /* position: relative; */
}
header .navbar ul {
    list-style-type: none;
    /* margin: 0;
    padding: 0; */
}
header .navbar ul li {
    display: inline-block;
    margin-left: 3.5rem;    
}
header .navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    line-height: 75px;
}
/* Header */


/* Home */
.home {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/Home-Bg.jpg");
    background-size: cover;
    background-position: center center;
    padding: 15px;
    overflow: hidden;
}
.home .fullscreen {
    min-height: 110vh;
    /* background: blue; */
}
.home .homeContent {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.home .homeContent .block {
    flex: 0 0 75%;
    /* background: orange; */
    max-width: 75%;
    /* margin-top: 8rem; */
}
.home .homeContent .block .head1 {
    font-size: 4rem;
    color: #ffffff;
}
.home .homeContent .block .head2 {
    font-family: var(--DejaVuSans-Bold);
    font-size: 2.2rem;
    margin-top: 1rem;
    color: #ffffff;
}
.home .homeContent .block .btnDownload {
    margin-top: 3rem;
}
.home .homeContent .block .btnDownload a {
    font-size: 1.8rem;
    text-decoration: none;
    background-color: #01937C;
    color: #ffffff;
    padding: 0.5rem 2.5rem;
    border-radius: 15px;
    transition: all .5s ease;
}
.home .homeContent .block .btnDownload a:hover {
    background-color: #ffffff;
    color: #01937C;
}
/* Home */

/* Responsive Website */
.hamburger .fas {
    font-size: 1.2rem;
    height: 30px;
    width: 35px;
    color: #ffffff;
    border-radius: 3px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    display: none;
}
@media(max-width: 925px) {
    header {
        padding: 15px;
        position: fixed;
        background-color: #0C0C17;
    }
    header .hamburger .fas {
        display: inline-block;
    }
    header .navbar {
        position: absolute;
        background-color: #0C0C17;
        width: 100%;
        left: 0px;
        top: 60px;
        padding: 15px;
        display: none;
        border-top: 1px solid #ffffff;
        transition: all .5s ease;
    }
    header .navbar.show {
        display: block;
    }
    header .navbar ul li
    {
        display: block;
        margin-left: 0;
    }
    header .navbar ul li a
    {
        line-height: 42px;
        color: #ffffff;
    }
    .home .homeContent .block .head1 {
        font-size: 3rem;
        color: #ffffff;
    }
    .home .homeContent .block .head2 {
        font-size: 1.2rem;
        margin-top: 1rem;
        color: #ffffff;
    }
    .home .homeContent .block .btnDownload {
        margin-top: 2rem;
    }
    .home .homeContent .block .btnDownload a {
        font-size: 1rem;
        padding: 0.3rem 1.5rem;
        border-radius: 10px;
    }
}
@media(max-width: 623px) {
    .home .homeContent .block .head1 {
        font-size: 1.6rem;
        color: #ffffff;
    }
    .home .homeContent .block .head2 {
        font-size: 1rem;
        margin-top: 1rem;
        color: #ffffff;
    }
}
/* Responsive Website */